.square{
	border: 2px black solid;
	height:100px;
	width: 100px;
	margin: 20px;
	text-align: center;
	vertical-align: center;

	font-size: 30px;
	background-color: yellow;
}

.mainpagecircle{
	border:2px black solid;
	border-radius: 50%;
	background-color:#FA6342;
	width:400px;
	font-size: 40px;
	/*text-align: center;*/
	height: 400px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.mainheading{
	text-decoration: underline;
	font-size: 20px;
}

.choosesubject{
	margin-left: 3%;
}

.circlechoosesubject{
	border:2px black solid;
	border-radius: 50%;
	background-color:#FBC4AD;
	width:200px;
	font-size: 20px;
	/*text-align: center;*/
	height: 200px;
	position: relative;
	/*margin-left: auto;
	margin-right: auto;*/
	/*margin-top: 5%;*/
	display: flex;
	align-items: center;
	justify-content: center;
	margin:5%;
	color: black;
	flex-direction: column;
}

.useranswer{
	font-size: 40px;
	width: 50%;
}
.red{
	background: #FA6342;
}

.givenint{
	font-size: 40px;
}

.addsign{
	font-size: 40px;
}
.math{
	text-align: center;
	text-decoration: underline;
	font-size: 50px;
}
.finalfinal{
	font-size: 40px;
	text-align: center;
}

.score{
	font-size: 30px;
	text-align: center;
}
.quote{
	text-align: center;
	padding-bottom: 20px;
}
/*.progress{
	width: 70%;
	display:flex;
	justify-content:center;
}*/
#container{
	margin: 20px;
	width: 400px;
	height: 8px;
	position: relative;
}